USE [Bladder2]
GO
/****** Object:  Schema [HangFire]    Script Date: 6/17/2025 1:40:55 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[Bladders]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bladders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BladderCode] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](40) NULL,
	[ExpiryNotificationSent] [bit] NOT NULL,
	[BladderSizeId] [int] NOT NULL,
 CONSTRAINT [PK_Bladders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BladderSizes]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BladderSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](40) NULL,
 CONSTRAINT [PK_BladderSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BladderTransactions]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BladderTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[BladderId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[MachineId] [int] NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](40) NULL,
	[ChangedCopperElement] [bit] NULL,
	[ChangedMainMandrillSeal] [bit] NULL,
	[ChangedPiping] [bit] NULL,
	[ChangedRotaryJoint] [bit] NULL,
	[ChangedShoulderSeal] [bit] NULL,
 CONSTRAINT [PK_BladderTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finding]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finding](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IconClass] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](40) NULL,
 CONSTRAINT [PK_Finding] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[ConcurrencyStamp] [nvarchar](40) NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[Full] [bit] NOT NULL,
	[LeftBladderId] [int] NULL,
	[RightBladderId] [int] NULL,
 CONSTRAINT [PK_Machines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceFindings]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceFindings](
	[MaintenanceTransactionId] [int] NOT NULL,
	[FindingId] [int] NOT NULL,
 CONSTRAINT [PK_MaintenanceFindings] PRIMARY KEY CLUSTERED 
(
	[MaintenanceTransactionId] ASC,
	[FindingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[route] [nvarchar](255) NULL,
	[parent_id] [bigint] NULL,
	[order] [int] NOT NULL,
	[permission] [nvarchar](255) NULL,
	[svg] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[translation_key] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oauth_access_tokens]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oauth_access_tokens](
	[id] [nvarchar](100) NOT NULL,
	[user_id] [bigint] NULL,
	[client_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NULL,
	[scopes] [nvarchar](max) NULL,
	[revoked] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
 CONSTRAINT [oauth_access_tokens_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oauth_auth_codes]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oauth_auth_codes](
	[id] [nvarchar](100) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[client_id] [bigint] NOT NULL,
	[scopes] [nvarchar](max) NULL,
	[revoked] [bit] NOT NULL,
	[expires_at] [datetime] NULL,
 CONSTRAINT [oauth_auth_codes_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oauth_clients]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oauth_clients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[name] [nvarchar](255) NOT NULL,
	[secret] [nvarchar](100) NULL,
	[provider] [nvarchar](255) NULL,
	[redirect] [nvarchar](max) NOT NULL,
	[personal_access_client] [bit] NOT NULL,
	[password_client] [bit] NOT NULL,
	[revoked] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oauth_personal_access_clients]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oauth_personal_access_clients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[client_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oauth_refresh_tokens]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oauth_refresh_tokens](
	[id] [nvarchar](100) NOT NULL,
	[access_token_id] [nvarchar](100) NOT NULL,
	[revoked] [bit] NOT NULL,
	[expires_at] [datetime] NULL,
 CONSTRAINT [oauth_refresh_tokens_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission_role]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission_role](
	[permission_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [permission_role_permission_id_role_id_primary] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission_user]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission_user](
	[permission_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_type] [nvarchar](255) NOT NULL,
 CONSTRAINT [permission_user_user_id_permission_id_user_type_primary] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[permission_id] ASC,
	[user_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_user]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_user](
	[role_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_type] [nvarchar](255) NOT NULL,
 CONSTRAINT [role_user_user_id_role_id_user_type_primary] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC,
	[user_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/17/2025 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[is_super_admin] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[username] [nvarchar](255) NULL,
	[normalized_user_name] [nvarchar](255) NULL,
	[surname] [nvarchar](255) NULL,
	[email_confirmed] [bit] NOT NULL,
	[security_stamp] [nvarchar](255) NULL,
	[is_external] [bit] NOT NULL,
	[phone_number] [nvarchar](16) NULL,
	[phone_number_confirmed] [bit] NOT NULL,
	[two_factor_enabled] [bit] NOT NULL,
	[lockout_end] [datetime] NULL,
	[lockout_enabled] [bit] NOT NULL,
	[access_failed_count] [int] NOT NULL,
	[should_change_password_on_next_login] [bit] NOT NULL,
	[entity_version] [int] NOT NULL,
	[last_password_change_time] [datetime] NULL,
	[concurrency_stamp] [nvarchar](40) NULL,
	[created_by] [bigint] NULL,
	[modified_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bladders] ON 

INSERT [dbo].[Bladders] ([Id], [BladderCode], [ExpiryDate], [Status], [ExtraProperties], [ConcurrencyStamp], [ExpiryNotificationSent], [BladderSizeId]) VALUES (181, N'44-R24-IT', CAST(N'2024-10-29T21:42:31.8764256' AS DateTime2), N'Ready', N'{}', N'c0eae9a9ff2d4e56ab8165e7a94bde67', 1, 3)
INSERT [dbo].[Bladders] ([Id], [BladderCode], [ExpiryDate], [Status], [ExtraProperties], [ConcurrencyStamp], [ExpiryNotificationSent], [BladderSizeId]) VALUES (182, N'45-R24-IT', CAST(N'2024-10-29T21:43:14.2537162' AS DateTime2), N'Maintenance', N'{}', N'5b837d9dc1c54ccfa44cc58012592548', 1, 3)
INSERT [dbo].[Bladders] ([Id], [BladderCode], [ExpiryDate], [Status], [ExtraProperties], [ConcurrencyStamp], [ExpiryNotificationSent], [BladderSizeId]) VALUES (183, N'46-R24-IT', CAST(N'2024-10-29T21:43:31.8656442' AS DateTime2), N'Mounted', N'{}', N'6df5428d36b443c8a2eb61aceed16b55', 1, 3)
SET IDENTITY_INSERT [dbo].[Bladders] OFF
GO
SET IDENTITY_INSERT [dbo].[BladderSizes] ON 

INSERT [dbo].[BladderSizes] ([Id], [Name], [ExtraProperties], [ConcurrencyStamp]) VALUES (1, N'17.5', N'{}', N'2d118275d30f413f96ccd5c8fc36627b')
INSERT [dbo].[BladderSizes] ([Id], [Name], [ExtraProperties], [ConcurrencyStamp]) VALUES (2, N'22.5 Chinese', N'{}', N'2b3e72117ca94e4d9ae26e0b050b8de7')
INSERT [dbo].[BladderSizes] ([Id], [Name], [ExtraProperties], [ConcurrencyStamp]) VALUES (3, N'24', N'{}', N'93b567b1a3a444a79b540c7386012451')
SET IDENTITY_INSERT [dbo].[BladderSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[BladderTransactions] ON 

INSERT [dbo].[BladderTransactions] ([Id], [TransactionType], [BladderId], [CreatedAt], [Discriminator], [MachineId], [ExtraProperties], [ConcurrencyStamp], [ChangedCopperElement], [ChangedMainMandrillSeal], [ChangedPiping], [ChangedRotaryJoint], [ChangedShoulderSeal]) VALUES (48, N'Mount', 238, CAST(N'2024-11-01T12:12:21.6377980' AS DateTime2), N'MountTransaction', 16, N'{}', N'b7bd91f35c6d402b83fd9fdf668d215d', 0, 0, 0, 0, 0)
INSERT [dbo].[BladderTransactions] ([Id], [TransactionType], [BladderId], [CreatedAt], [Discriminator], [MachineId], [ExtraProperties], [ConcurrencyStamp], [ChangedCopperElement], [ChangedMainMandrillSeal], [ChangedPiping], [ChangedRotaryJoint], [ChangedShoulderSeal]) VALUES (49, N'Mount', 230, CAST(N'2024-11-01T12:14:39.0007055' AS DateTime2), N'MountTransaction', 16, N'{}', N'f219d9a892954e4ea0d9a3067427cd4f', 0, 0, 0, 0, 0)
INSERT [dbo].[BladderTransactions] ([Id], [TransactionType], [BladderId], [CreatedAt], [Discriminator], [MachineId], [ExtraProperties], [ConcurrencyStamp], [ChangedCopperElement], [ChangedMainMandrillSeal], [ChangedPiping], [ChangedRotaryJoint], [ChangedShoulderSeal]) VALUES (50, N'Mount', 222, CAST(N'2024-11-01T14:20:04.8842456' AS DateTime2), N'MountTransaction', 21, N'{}', N'0dc9bd4fdf024c95b242f77dc2b563cc', 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[BladderTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Finding] ON 

INSERT [dbo].[Finding] ([Id], [IconClass], [Description], [ExtraProperties], [ConcurrencyStamp]) VALUES (1, N'bi bi-alarm', N'تآكل في السيل الخارجي  للبستم الالومنيوم ', N'{}', N'65721ac06b2848579e0d44a65b364bd8')
INSERT [dbo].[Finding] ([Id], [IconClass], [Description], [ExtraProperties], [ConcurrencyStamp]) VALUES (2, N'bi bi-alt', N' تاكل في السيل الداخلى للبستم الاولومنيوم ', N'{}', N'a0e60f3afa9f49a8903ff63e73d032cf')
INSERT [dbo].[Finding] ([Id], [IconClass], [Description], [ExtraProperties], [ConcurrencyStamp]) VALUES (3, N'bi bi-grid-3x2-gap-fill', N' وجود مشكله في البلى ', N'{}', N'94696472d2304e07afacc4ddb6d6f2d7')
SET IDENTITY_INSERT [dbo].[Finding] OFF
GO
SET IDENTITY_INSERT [dbo].[Machines] ON 

INSERT [dbo].[Machines] ([Id], [Code], [ConcurrencyStamp], [ExtraProperties], [Full], [LeftBladderId], [RightBladderId]) VALUES (1, N'TRGB1', N'0cd4f7151bc14be4a2fb1fbd02c65f5b', N'{}', 0, 181, 187)
INSERT [dbo].[Machines] ([Id], [Code], [ConcurrencyStamp], [ExtraProperties], [Full], [LeftBladderId], [RightBladderId]) VALUES (2, N'TRGB2', N'331805cebe7547ca8cbc2b613f509028', N'{}', 1, 252, 254)
INSERT [dbo].[Machines] ([Id], [Code], [ConcurrencyStamp], [ExtraProperties], [Full], [LeftBladderId], [RightBladderId]) VALUES (3, N'TRGB3', N'3f1721a6af7b45778d7afd12de4499aa', N'{}', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Machines] OFF
GO
INSERT [dbo].[MaintenanceFindings] ([MaintenanceTransactionId], [FindingId]) VALUES (80, 15)
INSERT [dbo].[MaintenanceFindings] ([MaintenanceTransactionId], [FindingId]) VALUES (82, 14)
INSERT [dbo].[MaintenanceFindings] ([MaintenanceTransactionId], [FindingId]) VALUES (84, 14)
GO
SET IDENTITY_INSERT [dbo].[menus] ON 

INSERT [dbo].[menus] ([id], [name], [route], [parent_id], [order], [permission], [svg], [created_at], [updated_at], [translation_key]) VALUES (1, N'Users Management', NULL, NULL, 2, N'list_user', N'svg/users.svg', CAST(N'2025-06-16T22:04:14.523' AS DateTime), CAST(N'2025-06-16T22:04:14.523' AS DateTime), N'menu_users_management')
INSERT [dbo].[menus] ([id], [name], [route], [parent_id], [order], [permission], [svg], [created_at], [updated_at], [translation_key]) VALUES (2, N'Users', N'users.index', 1, 1, N'list_user', NULL, CAST(N'2025-06-16T22:04:14.530' AS DateTime), CAST(N'2025-06-16T22:04:14.530' AS DateTime), N'menu_users')
INSERT [dbo].[menus] ([id], [name], [route], [parent_id], [order], [permission], [svg], [created_at], [updated_at], [translation_key]) VALUES (3, N'Roles', N'roles.index', 1, 2, N'list_role', NULL, CAST(N'2025-06-16T22:04:14.537' AS DateTime), CAST(N'2025-06-16T22:04:14.537' AS DateTime), N'menu_roles')
SET IDENTITY_INSERT [dbo].[menus] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (21, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (22, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (23, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [name], [display_name], [description], [created_at], [updated_at]) VALUES (1, N'list_user', N'List user', N'Allows a user to list user', CAST(N'2025-06-16T22:03:14.800' AS DateTime), CAST(N'2025-06-16T22:03:14.800' AS DateTime))
INSERT [dbo].[permissions] ([id], [name], [display_name], [description], [created_at], [updated_at]) VALUES (2, N'show_user', N'Show user', N'Allows a user to show user', CAST(N'2025-06-16T22:03:14.833' AS DateTime), CAST(N'2025-06-16T22:03:14.833' AS DateTime))
INSERT [dbo].[permissions] ([id], [name], [display_name], [description], [created_at], [updated_at]) VALUES (3, N'create_user', N'Create user', N'Allows a user to create user', CAST(N'2025-06-16T22:03:14.833' AS DateTime), CAST(N'2025-06-16T22:03:14.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[Bladders] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ExpiryNotificationSent]
GO
ALTER TABLE [dbo].[Bladders] ADD  DEFAULT ((1)) FOR [BladderSizeId]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Full]
GO
ALTER TABLE [dbo].[menus] ADD  DEFAULT ('0') FOR [order]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [is_super_admin]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [email_confirmed]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [is_external]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [phone_number_confirmed]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [two_factor_enabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [lockout_enabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [access_failed_count]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [should_change_password_on_next_login]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [entity_version]
GO
ALTER TABLE [dbo].[Bladders]  WITH CHECK ADD  CONSTRAINT [FK_Bladders_BladderSizes_BladderSizeId] FOREIGN KEY([BladderSizeId])
REFERENCES [dbo].[BladderSizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bladders] CHECK CONSTRAINT [FK_Bladders_BladderSizes_BladderSizeId]
GO
ALTER TABLE [dbo].[BladderTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BladderTransactions_Bladders_BladderId] FOREIGN KEY([BladderId])
REFERENCES [dbo].[Bladders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BladderTransactions] CHECK CONSTRAINT [FK_BladderTransactions_Bladders_BladderId]
GO
ALTER TABLE [dbo].[BladderTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BladderTransactions_Machines_MachineId] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BladderTransactions] CHECK CONSTRAINT [FK_BladderTransactions_Machines_MachineId]
GO
ALTER TABLE [dbo].[Machines]  WITH CHECK ADD  CONSTRAINT [FK_Machines_Bladders_LeftBladderId] FOREIGN KEY([LeftBladderId])
REFERENCES [dbo].[Bladders] ([Id])
GO
ALTER TABLE [dbo].[Machines] CHECK CONSTRAINT [FK_Machines_Bladders_LeftBladderId]
GO
ALTER TABLE [dbo].[Machines]  WITH CHECK ADD  CONSTRAINT [FK_Machines_Bladders_RightBladderId] FOREIGN KEY([RightBladderId])
REFERENCES [dbo].[Bladders] ([Id])
GO
ALTER TABLE [dbo].[Machines] CHECK CONSTRAINT [FK_Machines_Bladders_RightBladderId]
GO
ALTER TABLE [dbo].[MaintenanceFindings]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceFindings_BladderTransactions_MaintenanceTransactionId] FOREIGN KEY([MaintenanceTransactionId])
REFERENCES [dbo].[BladderTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceFindings] CHECK CONSTRAINT [FK_MaintenanceFindings_BladderTransactions_MaintenanceTransactionId]
GO
ALTER TABLE [dbo].[MaintenanceFindings]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceFindings_Finding_FindingId] FOREIGN KEY([FindingId])
REFERENCES [dbo].[Finding] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceFindings] CHECK CONSTRAINT [FK_MaintenanceFindings_Finding_FindingId]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [menus_parent_id_foreign] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [menus_parent_id_foreign]
GO
ALTER TABLE [dbo].[permission_role]  WITH CHECK ADD  CONSTRAINT [permission_role_permission_id_foreign] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permission_role] CHECK CONSTRAINT [permission_role_permission_id_foreign]
GO
ALTER TABLE [dbo].[permission_role]  WITH CHECK ADD  CONSTRAINT [permission_role_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permission_role] CHECK CONSTRAINT [permission_role_role_id_foreign]
GO
ALTER TABLE [dbo].[permission_user]  WITH CHECK ADD  CONSTRAINT [permission_user_permission_id_foreign] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permission_user] CHECK CONSTRAINT [permission_user_permission_id_foreign]
GO
ALTER TABLE [dbo].[role_user]  WITH CHECK ADD  CONSTRAINT [role_user_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_user] CHECK CONSTRAINT [role_user_role_id_foreign]
GO
